<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hesaplama Sonucu</title>
    <link rel="stylesheet" href="static\styles.css">
</head>
<body>
    <div class="header">
        <button class="back-button" onclick="location.href='{{ url_for('index') }}'">Ana Sayfaya Dön</button>
    </div>
    <h1>Hesaplama Sonucu</h1>
    <div>
        <p>Sonuç: {{ result }}</p>
    </div>
</body>
</html>
