<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ev Enerji Verimliliği Hesaplama</title>
    <link rel="stylesheet" href="/static/anc.css">
</head>
<body>
    <div class="header">
        <button class="back-button" onclick="location.href='{{ url_for('index') }}'">Ana Sayfaya Dön</button>
    </div>

    <section class="luxury-article">
        <h2>İklim Değişikliği: Dünya için Bir Tehdit ve Çözümler</h2>
        <p>
            İklim değişikliği, çağımızın en önemli sorunlarından biridir. İnsan faaliyetlerinin doğrudan ve dolaylı etkileri, 
            atmosferdeki sera gazı konsantrasyonlarını artırarak küresel ısınmaya yol açmakta ve bu da iklimde büyük değişikliklere 
            neden olmaktadır. Bu değişiklikler, dünya genelinde yaşam koşullarını etkileyen birçok soruna yol açabilir. Ancak, bu 
            sorunların üstesinden gelmek için alınabilecek önlemler ve çözümler de mevcuttur. Bu makalede, iklim değişikliğinin nedenleri, 
            etkileri ve çözüm yolları ele alınacaktır.
        </p>
        
        <img src="static\images\banner.png" alt="İklim Değişikliği Bannerı" class="luxury-banner">

        <p>
            İklim değişikliğinin başlıca nedeni, atmosferdeki sera gazlarının artışıdır. Fosil yakıtların yakılması, endüstriyel 
            faaliyetler, ormansızlaşma ve tarım gibi insan etkinlikleri, karbondioksit (CO2), metan (CH4) ve diğer sera gazlarının 
            atmosfere salınmasına yol açmaktadır. Bu gazlar, güneşten gelen enerjinin bir kısmını Dünya yüzeyinde tutarak gezegenin 
            ısınmasına neden olur. Bu durum, deniz seviyelerinin yükselmesi, buzulların erimesi ve aşırı hava olaylarının daha sık 
            görülmesi gibi bir dizi çevresel etkiyi beraberinde getirir.
        </p>

        <p>
            İklim değişikliği, sadece doğal çevreyi değil, aynı zamanda insan sağlığını, ekonomik kalkınmayı ve sosyal dengeyi de 
            tehdit eder. Artan sıcaklıklar, tarım üretkenliğini olumsuz etkileyebilir, su kaynaklarını tehlikeye atabilir ve bulaşıcı 
            hastalıkların yayılmasını hızlandırabilir. Ayrıca, aşırı hava olayları nedeniyle insanlar yerlerinden olabilir ve bu da 
            sosyal çatışmalara yol açabilir.
        </p>

        <p>
            İklim değişikliğiyle mücadele etmek için uluslararası işbirliği gereklidir. Sera gazı emisyonlarını azaltmaya yönelik 
            politikalar, yenilenebilir enerji kaynaklarının kullanımının artırılması ve enerji verimliliğinin teşvik edilmesi 
            bu mücadelenin temel unsurlarıdır. Ayrıca, toplumların iklim değişikliğine uyum sağlamaları için gerekli önlemler 
            alınmalıdır. Bu kapsamda, altyapı yatırımları, tarımda sürdürülebilir uygulamaların benimsenmesi ve eğitim 
            programlarının geliştirilmesi büyük önem taşır.
        </p>
    </section>
</body>
</html>
